CamusDB/bin
CamusDB/obj
CamusDB.Core/bin
CamusDB.Core/obj
CamusDB.Tests/bin
CamusDB.Tests/obj
CamusDB.Cluster.Tests/bin
CamusDB.Cluster.Tests/obj
CamusDB.Tests/TestResults
CamusDB.Generators/bin
CamusDB.Generators/obj
CamusDB.Sandbox/bin
CamusDB.Sandbox/obj
CamusDB.Sandbox/Data
CamusDB.MicroBenchmarks/bin
CamusDB.MicroBenchmarks/obj
CamusDB.MicroBenchmarks/*.md
CamusDB.Grpc.Client.Tests/bin
CamusDB.Grpc.Client.Tests/obj
CamusDB.Grpc.Client/bin
CamusDB.Grpc.Client/obj
CamusDB.Grpc.Contracts/bin
CamusDB.Grpc.Contracts/obj
CamusDB.Workload/bin
CamusDB.Workload/obj
CamusDB.Workload.Tests/bin
CamusDB.Workload.Tests/obj
CamusDB.Core\SQLParser.Language.analyzer.lst
CamusDB.Core\sqlParser.Language.grammar.lst
BenchmarkDotNet.Artifacts/
.vs/
.idea/
.DS_Store
specs/
artifacts/
bench/node_modules/
CamusDB/Data/
CamusDB.Cluster.Tests/TestResults
