CamusDB/bin
CamusDb/obj
CamusDB.Core/bin
CamusDb.Core/obj
CamusDB.Tests/bin
CamusDb.Tests/obj
CamusDB.Cluster.Tests/bin
CamusDb.Cluster.Tests/obj
CamusDb.Tests/TestResults
CamusDB.Generators/bin
CamusDB.Generators/obj
CamusDB.Sandbox/bin
CamusDB.Sandbox/obj
CamusDB.Sandbox/Data
CamusDB.MicroBenchmarks/bin
CamusDB.MicroBenchmarks/obj
CamusDB.MicroBenchmarks/*.md
CamusDB.Grpc.Client.Tests/bin
CamusDB.Grpc.Client.Tests/obj
CamusDB.Grpc.Client/bin
CamusDB.Grpc.Client/obj
CamusDB.Grpc.Contracts/bin
CamusDB.Grpc.Contracts/obj
CamusDB.Core\SQLParser.Language.analyzer.lst
CamusDB.Core\sqlParser.Language.grammar.lst
BenchmarkDotNet.Artifacts/
.vs/
.idea/
.DS_Store
specs/
bench/node_modules/
CamusDB/Data/
CamusDB.Cluster.Tests/TestResults
