@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get started with <a href="https://github.com/camusdb/camusdb">CamusDB</a>.</p>
</div>

